nav,
nav ul,
nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
h1 a {
  padding: 0;
  margin: 0;
}
nav {
  padding: 1rem;
}
nav ul li a,
div a {
  padding: 1vw;
  margin: 0 1vw;
}
div a {
  margin-left: 0.4rem;
}
nav {
  background-color: var(--cl-lBlack);
}
a:hover {
  background-color: var(--cl-w);
  color: var(--cl-black);
  font-weight: bold;
}
