@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --cl-p: rgb(130, 149, 214);
  --cl-sc: rgb(133, 145, 187);
  --cl-light: rgb(204, 204, 204);
  --cl-w: rgb(255, 255, 255);
  --cl-lBlack: #333;
  --cl-black: rgb(20, 20, 20);
  --transition: 0.25s all linear;
  --box: 0 2px 4px rgba(24, 24, 24, 0.493);
}
html {
  font-size: 90%;
}
h1 {
  color: var(--cl-w);
  margin: 0;
}
ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: var(--cl-w);
  transition: var(--transition);
}
footer a {
  color: var(--cl-lBlack);
}
nav div {
  margin: 0 1vw;
}
p {
  color: var(--cl-black);
}
body {
  color: var(--cl-black);
  text-transform: capitalize;
  font-family: "Oswald", sans-serif;
  background: rgb(235, 229, 223) no-repeat center center;
}
button {
  transition: var(--transition);
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}
button:active {
  transition: 0s all;
  opacity: 1;
}
.tc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
}
